<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #393939">
    <span class="navbar-brand" style="color: #ffffff;font-size: 25px">
        <b>工具平台</b>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarItems">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="blackboxAnalysis" roel="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #ffffff;">&nbsp;&nbsp;ScanAnalysis</a>
                <div class="dropdown-menu" aria-labelledby="blackboxAnalysis">
                    <a class="dropdown-item" href="{{ url_for('index.nessus_analysis') }}">Nessus</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Analysis2</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Analysis3</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('index.record_info') }}">Record Info</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" style="color: #ffffff;">&nbsp;&nbsp;Tab2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" style="color: #ffffff;">&nbsp;&nbsp;Tab3</a>
            </li>
        </ul>
    </div>
    <div class="dropdown dropleft">
        <a class="nav-link" href="#" id="currentUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #ffffff">
            <i class="far fa-user">&nbsp;&nbsp;{{ user.username }}</i>
        </a>
        <div class="dropdown-menu" aria-labelledby="currentUser">
            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">注销</a>
        </div>
    </div>
</nav>
