{% extends "base.html" %}
{% block title%}登陆{% endblock %}
{% block head %}
<style>
.wrap{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 640px;
    height: 360px;
    background-color: rgba(0,0,0,0.3);
}
.login_header{
    width: 100%;
    background-color: #393939;
    color: #ffffff;
    font-size: 1.4rem;
    height: 55px;
    line-height: 55px;
    text-align: center;
}
.login_form{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
}
</style>
{% endblock %}
{% block content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible" style="height: 50px;text-align: center">
        {{ message|safe }}
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
    </div>
    {% endfor %}
    <div class="wrap">
        <div class="login">
            <div class="login_header">Welcome</div>
            <div class="login_form">
                <form method="POST">
                    <div class="form-group">
                        <label for="UserNameInput"><strong>UserName:</strong></label>
                        <input class="form-control" id="UserNameInput" name="username" placeholder="Please Input UserName">
                    </div>
                    <div class="form-group">
                        <label for="PasswordInput"><strong>Password:</strong></label>
                        <input type="password" class="form-control" id="PasswordInput" name="password" placeholder="Please Input Password">
                    </div>
                    <button type="button" class="btn btn-success" >Register</button>
                    <button type="submit" class="btn btn-success" style="float: right">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" opacity='0.5' zIndex="-2" count="150" src="{{ url_for('static', filename='js/canvas-nest.js') }}"></script>
{% endblock %}
