{% extends "base.html" %}
{% block title%}登陆{% endblock %}
{% block head %}
<style>
.message{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 640px;
    height: 360px;
    background-color: rgba(0,0,0,0.3);
}
.login_header{
    width: 100%;
    background-color: #393939;
    color: #ffffff;
    font-size: 1.4rem;
    height: 55px;
    line-height: 55px;
    text-align: center;
}
.login_form{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
}
</style>
{% endblock %}
{% block content %}
    <div class="message" id="message">
    {% for message in get_flashed_messages() %}
        {% if level == 'SUCCESS' %}
            <div class="alert alert-success alert-dismissible" style="height: 50px;text-align: center">
                {{ message|safe }}
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
            </div>
        {% endif %}
        {% if level == 'WARNING' %}
            <div class="alert alert-warning alert-dismissible" style="height: 50px;text-align: center">
                {{ message|safe }}
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
            </div>
        {% endif %}
        {% if level == 'ERROR' %}
            <div class="alert alert-danger alert-dismissible" style="height: 50px;text-align: center">
                {{ message|safe }}
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="wrap">
        <div class="login">
            <div class="login_header">Welcome</div>
            <div class="login_form">
                <form method="POST">
                    <div class="form-group">
                        <label for="UserNameInput"><strong>UserName:</strong></label>
                        <input type="text" class="form-control" id="UserNameInput" name="username" placeholder="Please Input UserName">
                    </div>
                    <div class="form-group">
                        <label for="PasswordInput"><strong>Password:</strong></label>
                        <input type="password" class="form-control" id="PasswordInput" name="password" placeholder="Please Input Password">
                    </div>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#registerModal">Register</button>
                    <button type="submit" class="btn btn-success" style="float: right">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label fas fa-user" for="registerUsername">&nbsp;Username:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="registerUsername" placeholder="Input New Username">
                        </div>
                        <div class="col-sm-2" id="infoUsername">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label fas fa-key" for="registerPassword">&nbsp;Password:</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="registerPassword" placeholder="Input Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label fas fa-key" for="registerConfirmPassword">&nbsp;Confirm:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="registerConfirmPassword" placeholder="Confirm Password">
                        </div>
                        <div class="col-sm-2" id="infoConfirm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label fas fa-mail-bulk" for="registerEmail">&nbsp;Email:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="registerEmail" placeholder="Input Email">
                        </div>
                        <div class="col-sm-2" id="infoEmail">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="PostRegisterInfo('{{ url_for('auth.register') }}')">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" opacity='0.5' zIndex="-2" count="150" src="{{ url_for('static', filename='js/canvas-nest.js') }}"></script>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}
