{% extends "base.html" %}
{% block title%}Nessus扫描结果分析{% endblock %}
{% block head %}
<style>
.bar{
    height: 10%;
}
.wrap{
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}
.upload{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.analysis{
    height: 75%;
    width: 100%;
}
</style>
{% endblock %}
{% block content %}
    <div class="bar">
    {% include "_navbar.html" %}
    </div>
    <div class="wrap">
        <div class="upload">
            <h6>上传Nessus扫描结果文件：</h6>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="scanResultFile">
                    <label class="custom-file-label" for="scanResultFile" aria-describedby="uploadBtn">Choose File</label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="uploadBtn">Upload</button>
                </div>
            </div>
            <button class="btn btn-outline-primary" type="button" id="startAnalysis">Start Analysis</button>
        </div>
        <div class="analysis" id="nessus_result">
            {% include 'nessus_result.html' %}
        </div>
    </div>
{% endblock %}
