{% extends "base.html" %}
{% block title%}Nessus扫描结果分析{% endblock %}
{% block head %}
<style>
.bar{
    height: 10%;
}
.wrap{
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}
.upload{
    height: 25%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.analysis{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
</style>
{% endblock %}
{% block content %}
    <div class="bar">
    {% include "_navbar.html" %}
    </div>
    <div class="wrap">
        <div class="upload">
            <div class="col-6">
                <h6>上传Nessus扫描结果文件：</h6>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="scanResultFile">
                        <label class="custom-file-label text-truncate" for="scanResultFile" >Choose File</label>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h6>Vulnerability Level ≥ :</h6>
                <select class="form-control" id="vul_level">
                    <option>None</option>
                    <option>Low</option>
                    <option>Medium</option>
                    <option>High</option>
                    <option>Critical</option>
                </select>
            </div>
            <button class="btn btn-outline-primary" type="button" id="startAnalysis" style="width: 100%" onclick="Analysis('{{ url_for('api.nessus_analysis') }}')">
                Start Analysis
            </button>
        </div>
        <div class="analysis" id="nessus_result">
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/api.js') }}"></script>
{% endblock %}
